<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="col-md-6">
  <%= easy_tab_container theme: :bordered do |t| %>
      <% t.easy_tab :home do %>
          <div>This is home tab</div>
      <% end %>

      <% t.easy_tab :products, active: true do %>
          <div>This is products tab</div>
      <% end %>
  <% end %>
</div>



